* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #2186F3, #5FC4E6) ;
}

.counter-app {
  width: 330px;
  height: 632px;
  background-color: #000;
  padding: 6px;
  border-radius: 46px;
  position: relative;
}

.screen-app {
  background-color: #fff;
  height: 100%;
  border-radius: 40px;
  background: url(./4bbb612155395385afa0b9a50f2fb620.jpg);
  background-position: center;
  background-size: cover;
}

.dynamic-island {
  width: 90px;
  height: 25px;
  background-color: #000;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.wrapper-aciton {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
}

.wrapper-aciton p{
  color: #91DDEA;
  text-shadow: 0 0 10px #A4DEE9;
  font-size: 70px;
  font-weight: 700;
  position: relative;
  top: -60px;
}

#incre {
  position: relative;
  right: -37px;
  top: -32px;
  padding: 25px;
  background: #0c4266;
  border: none;
  opacity: 0.7;
  border-radius: 50%;
  transition: 0.3s;
}

#decre {
  position: relative;
  left: -38px;
  top: -33px;
  padding: 25px;
  background: #0c4266;
  border: none;
  opacity: 0.7;
  border-radius: 50%;
  transition: 0.3s;
}

#reset {
  position: relative;
  left: 2px;
  bottom: -156px;
  padding: 25px;
  background: #95684B;
  border: none;
  opacity: 0.7;
  border-radius: 50%;
  transition: 0.3s;
}

#incre,#decre,#reset i {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

#incre:hover , #decre:hover {
  background: #91DDEA;
  color: #000;
  opacity: 0.9;
  box-shadow: 0 0 10px #91DDEA;
}

#reset:hover {
  background: #AA8254;
  color: #000;
  opacity: 0.9;
  box-shadow: 0 0 20px #AA8254;
}

#reset:active {
  background: #AA8254;
  color: #000;
  opacity: 0.9;
  box-shadow: 0 0 20px #AA8254;
}

.homebtn {
  width: 120px;
  height: 4px;
  background: #E9E8EC;
  border-radius: 10px;
  position: relative;
  top: 607px;
  left: 50%;
  transform: translateX(-50%);
}